<!DOCTYPE html>
<html lang="en">
<head><title>Media Stream</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') | safe }}">
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}" type="text/javascript"
            language="javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.min.js') }}"
            type="text/javascript" language="javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"
            type="text/javascript" language="javascript"></script>
    <script src="{{ url_for('static', filename='app.js') }}" type="text/javascript" language="javascript"></script>
    <script src="{{ url_for('static', filename='app_editor.js') }}" type="text/javascript"
            language="javascript"></script>
    <link rel="shortcut icon" href="#">
</head>
<body>
<template id="book_editor_template">
    <div class="col-md-12">
        <div class="input-group content_input_group">
            <input type="text" placeholder="Title" class="form-control" name="media_title">
            <input type="text" placeholder="Author" class="form-control" name="author">
            <input type="text" placeholder="Start Time" aria-label="Start time" class="form-control"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HH:MM:SS"
                   name="start_time">
            <input type="text" placeholder="End Time" aria-label="End time" class="form-control"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HH:MM:SS"
                   name="end_time">
        </div>
    </div>
</template>
<template id="movie_editor_template">
    <div class="col-md-12">
        <div class="input-group content_input_group">
            <input type="text" placeholder="Title" class="form-control" name="media_title">
            <input type="number" placeholder="Year" class="form-control" min="1900" name="year">
            <input type="text" placeholder="Start Time" aria-label="Start time" class="form-control"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HH:MM:SS"
                   name="start_time">
            <input type="text" placeholder="End Time" aria-label="End time" class="form-control"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HH:MM:SS"
                   name="end_time">
        </div>
    </div>
</template>
<template id="tv_editor_template">
    <div class="col-md-2">
        <input id="playlist_title" type="text" placeholder="TV Show Title" class="form-control" name="playlist_title">
    </div>
    <div class="col-md-10">
        <div class="input-group content_input_group">
            <input type="text" placeholder="Episode Title" class="form-control" name="media_title">
            <input type="number" placeholder="Season Index" class="form-control" min="0"
                   name="season_index">
            <input type="number" placeholder="Episode Index" class="form-control" min="0"
                   name="episode_index">
            <input type="text" placeholder="Start Time" aria-label="Start time" class="form-control"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HH:MM:SS"
                   name="start_time">
            <input type="text" placeholder="End Time" aria-label="End time" class="form-control"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HH:MM:SS"
                   name="end_time">
        </div>
    </div>
    <div class="col-md-2">
        <button name="add_row_button" type="button" class="btn btn-primary">+</button>
    </div>
    <div id="base_tv_group" class="col-md-10">
        <div class="input-group content_input_group">
            <input type="text" placeholder="Episode Title" class="form-control" name="media_title">
            <input type="number" placeholder="Season Index" class="form-control" min="0"
                   name="season_index">
            <input type="number" placeholder="Episode Index" class="form-control" min="0"
                   name="episode_index">
            <input type="text" placeholder="Start Time" aria-label="Start time" class="form-control"
                   name="start_time">
            <input type="text" placeholder="End Time" aria-label="End time" class="form-control"
                   name="end_time">
        </div>
    </div>
</template>
<template id="raw_editor_template">
    <div class="col-md-2">
        <button name="add_row_button" type="button" class="btn btn-primary">+</button>
    </div>
    <div id="base_raw_group" class="col-md-10">
        <div class="input-group content_input_group">
            <input type="text" placeholder="Start Time" aria-label="Start time" class="form-control"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HH:MM:SS"
                   name="start_time">
            <input type="text" placeholder="End Time" aria-label="End time" class="form-control"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HH:MM:SS"
                   name="end_time">
        </div>
    </div>
</template>
{% include 'top_navbar.html' %}
<div id="editor_content_input" class="main-content-container container-fluid text-left">
    <div class="row gx-2 gy-2">
        {% if 'local_play_url' %}
        <div class="col-lg-12">
            <video controls preload autoplay class="object-fit-contain img-fluid" id="local_video_player" hidden>
                <source src="{{ local_play_url }}" type="video/mp4" id="local_video_player_src">
            </video>
        </div>
        {% endif %}
    </div>
    <div class="row row-cols-auto gx-2 gy-2">
        <div class="col-sm-1">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="load_media_for_local_play">
                <label class="form-check-label" for="load_media_for_local_play"><span class="fw-semibold fs-4">Play
                    Media</span></label>
            </div>
        </div>
        <div class="col-sm-3">
            <p class="fw-semibold fs-4">End Time:
                <span style="float:right" id="editor_process_metadata_end_time">{{ editor_metadata['editor_process_metadata_end_time'] }}</span>
                <span class="fw-normal fs-5" style="float:right">D HH:MM:SS AP</span>
            </p>
        </div>
        <div class="col-sm-2">
            <p class="fw-semibold fs-3">Remaining: <span
                    id="editor_process_metadata_queue_size">{{ editor_metadata['process_queue_size'] }}</span></p>
        </div>
    </div>
    <div class="row row-cols-12 gx-2 gy-2">
        <div class="col-lg-3">
            <div id="editor_file_list" class="list-group overflow-auto" style="min-height: 100%; height: 500px;">
                {% if 'txt_file_list' in editor_metadata %}
                {% for editor_txt_file in editor_metadata['txt_file_list']: %}
                {% if editor_txt_file['processed'] %}
                <a style="background-color:MediumSeaGreen;"
                   class="list-group-item list-group-item-action">{{ editor_txt_file['file_name'] }}</a>
                {% else %}
                <a style="background-color:Tomato;"
                   class="list-group-item list-group-item-action">{{ editor_txt_file['file_name'] }}</a>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-lg-9">
            <p class="form-label">File name: <span id="editor_txt_file_name">{{ editor_metadata['selected_txt_file_title'] }}</span>
            </p>
            <form id="splitter_form_container" class="row g-3">
                <div class="col-12">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" id="media_type_dropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">{{ media_types[0] }}
                        </button>
                        <ul id="media_type_btn_group" class="dropdown-menu">
                            {% for media_type in media_types: %}
                            <li><a class="dropdown-item">{{ media_type }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button id="validate_button" type="submit" class="btn btn-success">Validate</button>
                    <button id="save_button" type="submit" class="btn btn-success">Save</button>
                    <button id="run_button" type="submit" class="btn btn-primary">Run</button>
                </div>
                <div id="form_editor_page" class="col-lg-12 row g-3 my_form">
                </div>
            </form>
        </div>
        <div class="col-lg-3">
            <div id="editor_process_queue" class="list-group overflow-auto"
                 style="min-height: 100%; height: 400px;">
            </div>
        </div>
        <div class="col-lg-9">
            <button type="button" class="btn btn-danger" onclick="javascript:clear_editor_log()">Clear</button>
            <label for="editor_txt_file_log" id="editor_txt_file_log_label" class="form-label">Editor logs</label>
            <textarea class="form-control" id="editor_txt_file_log" rows="10" disabled></textarea>
        </div>
    </div>
</div>
{% if button_dict is defined %}
{% include 'bottom_navbar.html' %}
{% endif %}
</body>
</html>

