<!DOCTYPE html>
<html lang="en">
<head><title>Media Stream</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') | safe }}">
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}" type="text/javascript"
            language="javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.min.js') }}"
            type="text/javascript" language="javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"
            type="text/javascript" language="javascript"></script>
    <script src="{{ url_for('static', filename='app.js') }}" type="text/javascript" language="javascript"></script>
    <link rel="shortcut icon" href="#">
</head>
<body>
{% include 'top_navbar.html' %}
<div class="main-content-container container-fluid">
    <div class="row gx-2 gy-2">
        <div class="col-md-12">
            <h5 id="content_title"></h5>
            <video controls preload="auto" autoplay class="object-fit-contain img-fluid" id="local_video_player" hidden>
                <source src="{{ local_play_url }}" type="video/mp4" id="local_video_player_src">
            </video>
        </div>
        <div class="col-md-12" hidden id="content_editor_card">
            <div class="card mb-3" style="background-color:Linen;">
                <div class="card-header">
                    Content Editor
                </div>
                <div class="card-body row">
                    <div class="col-md-2">
                        <h5 class="card-title">Add Tag</h5>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group" id="add_tag_list_group" style="z-index: 1000;">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    data-bs-auto-close="true" aria-expanded="false" id="add_tag_list_group_title">
                            </button>
                            <ul class="dropdown-menu" id="add_tag_list_group_dropdown"
                                style="z-index: 1000;">
                            </ul>
                        </div>
                        <button class="btn btn-secondary" type="button" id="apply_tag">Apply</button>
                        <button class="btn btn-secondary" type="button" id="remove_tag">Remove</button>
                    </div>
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-2">
                        <h5 class="card-title">Create tag</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="New Tag" aria-label="New Tag"
                                   aria-describedby="add_new_tag_button">
                            <button class="btn btn-outline-secondary" type="button"
                                    onclick="javascript:add_new_tag(this)"><i class="bi bi-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-footer row">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row gx-2 gy-2">
                <div class="col-sm-2">
                    <div class="card sticky-top mb-3" style="z-index: 0; background-color:Linen;">
                        <div class="card-header">
                            Filters
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Search TV Shows</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Avatar The Last Airbender"
                                       aria-label="Search Containers" aria-describedby="button-addon2"
                                       id="container_txt_search" onclick="javascript:this.select()"
                                       onchange="javascript:load_tv_shows()">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                        </ul>
                        <div class="card-body">
                            <h5 class="card-title">Search Movies</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Shrek"
                                       aria-label="Search Content" aria-describedby="button-addon2"
                                       id="content_txt_search" onclick="javascript:this.select()"
                                       onchange="javascript:load_movies()">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                        </ul>
                        <div class="card-body">
                            <h5 class="card-title">Tags</h5>
                            <ul class="list-group" id="tag_list_group"></ul>
                        </div>
                        <ul class="list-group list-group-flush">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-12" id="rainbow_loading_bar">
                            <div class="spinner-grow" role="status" style="color: red;">
                            </div>
                            <div class="spinner-grow" role="status" style="color: orange;">
                            </div>
                            <div class="spinner-grow" role="status" style="color: yellow;">
                            </div>
                            <div class="spinner-grow" role="status" style="color: green;">
                            </div>
                            <div class="spinner-grow" role="status" style="color: blue;">
                            </div>
                            <div class="spinner-grow" role="status" style="color: purple;">
                            </div>
                            <div class="spinner-grow" role="status" style="color: pink;">
                            </div>
                            <div class="spinner-grow" role="status" style="color: cyan;">
                            </div>
                        </div>
                    </div>
                    <div class="row gx-2 gy-2" id="mediaContentSelectDiv">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
{% include 'media_edit_modal.html' %}
{% if button_dict is defined and system_mode == "SERVER" %}
{% include 'bottom_navbar.html' %}
{% endif %}
</body>
</html>
