<!DOCTYPE html>
<html lang="en">
<head><title>Media Stream</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') | safe }}">
    <script src="https://kit.fontawesome.com/fc24dd5615.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid"><a class="navbar-brand" href="{{homepage_url}}">&#x1F422;&#x1F995;</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a id=tv_show_select_button class="nav-link" aria-current="page">TV Shows</a></li>
                <li class="nav-item"><a id=movie_select_button class="nav-link" aria-current="page">Movies</a></li>
                <li class="nav-item"><a id=scan_media_button class="nav-link" aria-current="page">Scan Media</a></li>
            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a id=connected_chromecast_id class="nav-link" aria-disabled="true"></a></li>
                <li class="nav-item dropstart">
                    <a id="chromecast_menu" class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <span class="fa-brands fa-chromecast"></span></a>
                    <ul id="dropdown_scanned_chromecasts" class="dropdown-menu">
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a id="chromecast_disconnect_button" class="dropdown-item">Disconnect</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="margin-bottom: 40%;">
    <p>{{sha}}</p>
    <div id="mediaContentSelectDiv">
        {% if media_metadata: %}
        <div class="container">
            <div class="row row-cols-auto">
                <div class="card mb-3" style="width: 18rem; height: 10rem;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <div id="metadata_card_body" class="card-body">
                                {% if 'title' in media_metadata %}
                                <h5 class="card-title">{{ media_metadata['title'] }}</h5>
                                {% endif %}
                                {% if 'sub_title' in media_metadata %}
                                <p class="card-text">{{ media_metadata['sub_title'] }}</p>
                                {% endif %}
                                {% if 'season_count' in media_metadata %}
                                <p class="card-text">Seasons: {{ media_metadata['season_count']}}</p>
                                {% endif %}
                                {% if 'episode_count' in media_metadata %}
                                <p class="card-text">Episodes: {{ media_metadata['episode_count'] }}</p>
                                {% endif %}
                                {% if 'tv_show_id' in media_metadata %}
                                <a href="?content_type={{media_metadata['content_type'] }}&media_id={{media_metadata['tv_show_id'] }}"
                                   class="stretched-link"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'media_list' in media_metadata %}
        <div class="container">
            <div class="row row-cols-auto">
                {% for media_item in media_metadata['media_list']: %}
                <div class="col">
                    <div class="card" style="width: 18rem; height: 6rem;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: black;">{{ media_item["title"] }}</h5>
                            {% if 'next_content_type' in media_metadata %}
                            <a href="?content_type={{ media_metadata['next_content_type'] }}&media_id={{ media_item.get('id') }}"
                               class="stretched-link"></a>
                            {% else %}
                            <a class="stretched-link" href="javascript:play_media({{ media_item.get('id') }})"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<nav class="navbar fixed-bottom navbar-expand-xl bg-dark bg-body-tertiary" data-bs-theme="light" style="height: 10%">
    <div class="container-fluid" align="center">
        <input type="range" id="mediaTimeInputId" onMouseUp="setMediaRuntime(this);" min=0 value=0 class="slider">
        <output id="mediaTimeOutputId"></output>
    </div>
    <div class="container" align="center">
        {% for key, value in button_dict.items() %}
        <button id="{{ value['id'] }}" class="btn"><i class="fa-solid {{ value['icon'] }} fa-2xl"></i></button>
        {% endfor %}
    </div>
</nav>
</body>
</html>
