<!DOCTYPE html>
<html lang="en">
<head><title>Media Stream</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') | safe }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}" type="text/javascript" language="javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}" type="text/javascript"
            language="javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.min.js') }}"
            type="text/javascript" language="javascript"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"
            type="text/javascript" language="javascript"></script>
    <link rel="shortcut icon" href="#">
</head>
<body style="background-color:aquamarine;">
{% include 'top_navbar.html' %}
<div id="mediaContentSelectDiv" class="main-content-container container-fluid">
    <div class="row gx-2 gy-2">
        {% if 'local_play_url' %}
        <div class="col-md-12">
            <video controls preload autoplay class="object-fit-contain img-fluid" id="local_video_player" hidden>
                <source src="{{ local_play_url }}" type="video/mp4" id="local_video_player_src">
            </video>
        </div>
        {% endif %}
        {% if 'container_content_type' in media_metadata %}
        <div class="col-md-12">
            <div class="card mb-3" style="background-color:Linen;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">{{
                                media_metadata.get("playlist_title") or "No title" }}</a>
                        </li>
                        <li class="nav-item">
                            {% if 'season_title' in media_metadata %}
                            <a class="nav-link" aria-current="true"
                               href="?content_type={{ media_metadata.get('container_content_type') }}&media_id={{ media_metadata.get('tv_show_id', '') }}">Seasons</a>
                            {% else %}
                            <a class="nav-link" aria-current="true"
                               href="?content_type={{ media_metadata.get('container_content_type') }}&media_id={{ media_metadata.get('tv_show_id', '') }}">TV
                                Shows</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div id="metadata_card_body" class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            {% if media_metadata.get('image_url', '')|length %}
                            <img src="http://192.168.1.175:8000/tv_shows/{{ media_metadata.get('image_url', '1.webp') }}"
                                 loading="lazy" class="img-fluid">
                            {% else %}
                            <img src="http://192.168.1.175:8000/images/{{ ['10.jpg', '11.jpg', '12.png', '13.png', '14.png', '15.png', '16.png', '1.webp', '2.webp', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg'] | random }}"
                                 loading="lazy" class="img-fluid">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">{{ media_metadata.get('season_title') or "No title" }}</h4>
                            <p class="card-text">{{ media_metadata.get('description', 'Description not provided')
                                }}</p>
                            <p class="card-text">
                                {% if 'season_count' in media_metadata %}
                                Seasons: {{ media_metadata.get('season_count', '') }},
                                {% endif %}
                                {% if 'episode_count' in media_metadata %}
                                Episodes: {{ media_metadata['episode_count'] }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"
                                onclick="javascript:edit_metadata_modal_open({{ media_metadata }}, {{ media_metadata.get('content_type', 0) }})">
                            <i class="bi-pencil-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'media_list' in media_metadata %}
        {% for media_item in media_metadata['media_list']: %}
        <div class="col-sm-3">
            <div class="card" id="sub_card_{{ media_item.get('id') }}"
                 style="background-color:Linen;min-height: 100%;">
                <div class="card-header">
                    {% if 'media_list_content_type' in media_metadata %}
                    {% if media_metadata['media_list_content_type'] == 1 %}
                    <a href="javascript:play_media({{ media_item.get('id') }}, {{ media_metadata.get('playlist_id', '') }})">{{
                        media_item.get("media_title") or
                        "No title" }}</a>
                    {% else %}
                    <a href="?content_type={{ media_metadata['media_list_content_type'] }}&media_id={{ media_item.get('id') }}">{{
                        media_item.get("playlist_title",
                        media_item.get("season_title",media_item.get("media_title"))) or "No title" }}
                    </a>
                    {% endif %}
                    {% endif %}
                    {% if 'play_count' in media_item %}
                    {% if media_item['play_count'] == 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-warning">New</span>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            {% if media_item.get('image_url')|length %}
                            <img src="http://192.168.1.175:8000/tv_shows/{{ media_item.get('image_url', '1.webp') }}"
                                 loading="lazy" class="img-fluid">
                            {% else %}
                            <img src="http://192.168.1.175:8000/images/{{ ['10.jpg', '11.jpg', '12.png', '13.png', '14.png', '15.png', '16.png', '1.webp', '2.webp', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg'] | random }}"
                                 loading="lazy" class="img-fluid">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">{{ media_item.get("description") }}</p>
                            {% if 'list_index' in media_item %}
                            <h6 class="card-subtitle mb-2 text-body-secondary">Index: {{
                                media_item.get("list_index")
                                }}</h6>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"
                                onclick="javascript:edit_metadata_modal_open({{ media_item }}, {{ media_metadata['media_list_content_type'] }})">
                            <i class="bi-pencil-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal_title"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="modal_text_area_image_url" class="col-form-label">Image Name:</label>
                        <input type="text" class="form-control" id="modal_text_area_image_url">
                    </div>
                    <div class="mb-3">
                        <label for="modal_text_area_description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="modal_text_area_description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="modal_metadata_save" class="btn btn-primary" data-bs-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>
{% if button_dict is defined %}
{% include 'bottom_navbar.html' %}
{% endif %}
</body>
</html>
