<!DOCTYPE html>
<div class="col-sm-3">
    <div class="card" id="sub_card_{{ media_item.get('id') }}"
         style="background-color:Linen;min-height: 100%;">
        <div class="card-header">
            <a href="javascript:play_media()">{{ media_item.get("container_title") or "No title" }}</a>
            {% if 'media_list_content_type' in media_metadata %}
            {% if media_metadata['media_list_content_type'] == 1 %}
            <a href="javascript:play_media({{ media_item.get('id') }}, {{ media_metadata.get('playlist_id', '') }})">{{
                media_item.get("media_title") or
                "No title" }}</a>
            {% else %}
            <a href="?content_type={{ media_metadata['media_list_content_type'] }}&media_id={{ media_item.get('id') }}">{{
                media_item.get("playlist_title",
                media_item.get("season_title",media_item.get("media_title"))) or "No title" }}
            </a>
            {% endif %}
            {% endif %}
            {% if 'play_count' in media_item %}
            {% if media_item['play_count'] == 0 %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-warning">New</span>
            {% endif %}
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    {% if media_item.get('img_src')|length %}
                    <img src="http://192.168.1.175:8000/{{ media_item.get('img_src', '1.webp') }}"
                         loading="lazy" class="img-fluid">
                    {% else %}
                    <img src="http://192.168.1.175:8000/images/{{ ['10.jpg', '11.jpg', '12.png', '13.png', '14.png', '15.png', '16.png', '1.webp', '2.webp', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg'] | random }}"
                         loading="lazy" class="img-fluid">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <p class="card-text">{{ media_item.get("description") }}</p>
                    {% if 'list_index' in media_item %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">Index: {{ media_item.get("list_index") }}</h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        onclick="javascript:edit_metadata_modal_open()">
                    <i class="bi-pencil-fill"></i>
                </button>
            </div>
        </div>
    </div>
</div>
