<!DOCTYPE html>
<div class="col-md-12">
    <div class="card mb-3" style="background-color:Linen;">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">{{
                        media_metadata.get("playlist_title") or "No title" }}</a>
                </li>
                <li class="nav-item">
                    {% if 'season_title' in media_metadata %}
                    <a class="nav-link" aria-current="true"
                       href="?content_type={{ media_metadata.get('container_content_type') }}&media_id={{ media_metadata.get('tv_show_id', '') }}">Seasons</a>
                    {% else %}
                    <a class="nav-link" aria-current="true"
                       href="?content_type={{ media_metadata.get('container_content_type') }}&media_id={{ media_metadata.get('tv_show_id', '') }}">TV
                        Shows</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div id="metadata_card_body" class="card-body">
            <div class="row">
                <div class="col-md-3">
                    {% if media_metadata.get('image_url', '')|length %}
                    <img src="http://192.168.1.175:8000/tv_shows/{{ media_metadata.get('image_url', '1.webp') }}"
                         loading="lazy" class="img-fluid">
                    {% else %}
                    <img src="http://192.168.1.175:8000/images/{{ ['10.jpg', '11.jpg', '12.png', '13.png', '14.png', '15.png', '16.png', '1.webp', '2.webp', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg'] | random }}"
                         loading="lazy" class="img-fluid">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h4 class="card-title">{{ media_metadata.get('season_title') or "No title" }}</h4>
                    <p class="card-text">{{ media_metadata.get('description', 'Description not provided')
                        }}</p>
                    <p class="card-text">
                        {% if 'season_count' in media_metadata %}
                        Seasons: {{ media_metadata.get('season_count', '') }},
                        {% endif %}
                        {% if 'episode_count' in media_metadata %}
                        Episodes: {{ media_metadata['episode_count'] }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        onclick="javascript:edit_metadata_modal_open({{ media_metadata }}, {{ media_metadata.get('content_type', 0) }})">
                    <i class="bi-pencil-fill"></i>
                </button>
            </div>
        </div>
    </div>
</div>

