{% if 'parent_container' in media_metadata %}
<div class="col-md-12">
    <div class="card mb-3" style="background-color:Linen;">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">{{
                        media_metadata.parent_container.get("container_title", "No title") }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true"
                       href="javascript:load_container({{ media_metadata.parent_container.get('id') }})">{{
                        media_metadata.parent_container.get("container_title", "No title") }}</a>
                </li>
            </ul>
        </div>
        <div id="metadata_card_body" class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="http://192.168.1.175:8000/{{ media_metadata.parent_container.get('img_src') }}"
                         loading="lazy" class="img-fluid" onerror="apply_default_image(this)">
                </div>
                <div class="col-md-8">
                    <h4 class="card-title">{{ media_metadata.parent_container.get('container_title', "No title") }}</h4>
                    <p class="card-text">{{ media_metadata.parent_container.get('description', 'Description not
                        provided') }}</p>
                    <p class="card-text">
                        {% if 'season_count' in media_metadata %}
                        Seasons: {{ media_metadata.get('season_count', '') }},
                        {% endif %}
                        {% if 'episode_count' in media_metadata %}
                        Episodes: {{ media_metadata['episode_count'] }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        onclick="javascript:edit_metadata_modal_open({{ media_metadata.parent_container.get('id', 'null')|tojson }}, 'null'|tojson , '{{ media_metadata.parent_container.get('container_title', media_metadata.parent_container.get('content_title')) }}', '{{ media_metadata.parent_container.get('img_src') }}', '{{ media_metadata.parent_container.get('description') }}')">
                    <i class="bi-pencil-fill"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if 'containers' in media_metadata %}
{% for media_item in media_metadata['containers']: %}
{% include 'media_card.jinja.html' %}
{% endfor %}
{% endif %}
{% if 'content' in media_metadata %}
{% for media_item in media_metadata['content']: %}
{% include 'media_card.jinja.html' %}
{% endfor %}
{% endif %}
