[Unit]
Description=Start server for the media drive
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=INSTALL_USER
WorkingDirectory=INSTALL_DIR
ExecStart=http-server -p 8001

[Install]
WantedBy=multi-user.target
