[Unit]
Description=Start server for the media drive
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/media/library
ExecStart=http-server -p 8000

[Install]
WantedBy=multi-user.target
