[Unit]
Description=Start server for the media drive
After=network.target
StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
Type=simple
Restart=always
RestartSec=1
User=INSTALL_USER
WorkingDirectory=MEDIA_DIR
ExecStart=http-server -p 8000

[Install]
WantedBy=multi-user.target
