name: Python package
on: [ push ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4.2.2
      - name: Start Docker Compose services with CMD variable
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: "./compose.yaml"
          up-flags: "--build"
          env: |
            CMD=pytest tests/test_backend_handler.py::TestSetupDB --doctest-modules --junitxml=junit/test-results.xml --cov-report=xml --cov-report=html
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/tests/junit/test-results.xml'
