name: Python package
on: [ push ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
          architecture: 'x64'
      - run: python -m pip install --upgrade pip
      - run: pip install -r requirements.txt
      - run: pip install pytest pytest-cov pytest-mock pyfakefs
      - name: Test with pytest
        run: |
          pytest test_create_database.py --doctest-modules --junitxml=junit/test-results.xml --cov-report=xml --cov-report=html
          ls junit
          ls
        working-directory: tests
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/tests/junit/test-results.xml'
